@inherits LayoutComponentBase

<!-- Login Layout -->
<div class="login-layout">
    <MudThemeProvider />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <div>
        @Body
    </div>
</div>

@code {
}
